<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					<!-- Logo -->
						<h1><a href="index.html">Shirley&Kivi</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="index.html">Home</a></li>
								<li>
									<a href="{{ site.baseurl }}/tech">技术</a>
									<ul>
										<li><a href="{{ site.baseurl }}/tech">这个</a></li>
										
										<li>
											<a href="">结构</a>
											<ul>
												<li><a href="#">还是可以</a></li>							
											</ul>
										</li>
									</ul>
								</li>
								<li><a href="{{ site.baseurl }}/left-sidebar.html">生活</a></li>
								<li><a href="{{ site.baseurl }}/right-sidebar.html">艺术</a></li>
								<li><a href="{{ site.baseurl }}/no-sidebar.html">作品</a></li>
							</ul>
						</nav>

					<!-- Banner -->
						<section id="banner">
							<header>
								<h2>不逾矩</h2>
								<p></p>
							</header>
						</section>

					<!-- Intro -->

				</div>
			</div>